#Output
out/*
Deug/*
Release/*
obj/*
build/*
build-*/
*.dll
*.exe
*.out

# IDE settings
*.layout
*.depend
*.user

# Game settings
*.ini


# Textures and other content - not place it in repo
textures/*

# Default world subdirictory too
world/*
