#Output
out/*
Deug/*
Release/*
obj/*
*.dll
*.exe
*.out

# CodeBlocks settings
*.layout
*.depend

# Game settings
*.ini

# Qt MOC output
src/moc*

# Textures and other content - not place it in repo
textures/*

# Default world subdirictory too
world/*