[submodule "panzer_ogl_lib"]
	path = panzer_ogl_lib
	url = https://github.com/Panzerschrek/panzer_ogl_lib.git
[submodule "PanzerJson"]
	path = PanzerJson
	url = https://github.com/Panzerschrek/PanzerJson.git
[submodule "stb"]
	path = stb
	url = https://github.com/Panzerschrek/stb.git
